*.swp
*.*~
.DS_Store

.vs/
.vscode

bin/
obj/

BenchmarkDotNet.Artifacts/

.idea/
*.DotSettings.user

src/Wasmtime.SourceGenerator/gen/

*.wasm

tests/implementations/*/wit/
tools/
tests/implementations/javascript/.yarn/
tests/implementations/tools/
